.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
font-family: 'Noto Serif', serif;
letter-spacing: 0.3em;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
}

.cont {
  box-shadow: 5px 5px 8px rgba(134, 103, 2, 0.808), 10px 10px 8px rgba(204, 166, 41, 0.897), 15px 15px 8px rgb(235, 222, 110);
  padding: 20px;
  background-color: rgba(240, 248, 255, 0.466);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 50px;
  margin-bottom: 50px;
}